Best_Restaurant_Park_Search/venv/

QA_ChatBot/venv/
QA_ChatBot_remember_History/venv/
ChatBot_usingPDF/venv/
ChatBot_usingPDF_cmd/venv/
ChatBot_usingPDF_FAISS_vectorStore/venv/

Image_Generation/venv/
Past_tense_future_tense/venv/
Voice_Generation/venv/

*/venv/
*.env